.Signup-button {
    -fx-background-color: #5A3EF3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;

}

.Signup-button:hover {
    -fx-background-color: #664eec;
}


.Signin-button{
    -fx-background-color: #5A3EF3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

.Signin-button:hover {
    -fx-background-color: #664eec;
}

.link-button{
    -fx-background-color: transparent;
    -fx-text-fill: #5A3EF3;
    -fx-font-weight: bold;
}

.link-button:hover{
    -fx-text-fill: #08267A;
}

.ModifyButton{
    -fx-background-color: #515AB9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.main-scroll-pane-modify{
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}

.title{
    -fx-font-size: 40;
    -fx-font-weight: bold;
}

.card-modify{

}

.text-input{
    -fx-min-width: 270px;
    -fx-min-height: 33px;
}

.danger-button{
    -fx-background-color: transparent;
    -fx-text-fill: red;
}

.uploadImage{
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}

.uploadImage:hover{
    -fx-text-fill: grey;
}

.error-label{
    -fx-font-weight: bold;
}

.VisibilityToggle{
    -fx-background-color: transparent;
}
.visibleText {
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.goBack{
    -fx-background-color: transparent;
}

.googleSignin-button {
    -fx-background-color: #ececec;
    -fx-border-color: #3300ff;
    -fx-text-fill: #3300ff;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.googleSignin-button:hover {
    -fx-background-color: #dcdcdc;
    -fx-border-color: #3300ff;
    -fx-text-fill: #3300ff;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}


.githubSignin-button {
    -fx-background-color: #ececec;
    -fx-border-color: #3300ff;
    -fx-text-fill: #3300ff;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.githubSignin-button:hover {
    -fx-background-color: #dcdcdc; /* subtle darkening on hover */
    -fx-border-color: #3300ff;
    -fx-text-fill: #3300ff;
    -fx-font-weight: bold;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.SearchBar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-padding: 0 10 0 10;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #a8a8a8;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 0);
}

.SearchBar:hover {
    -fx-border-color: #c0c0c0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 0);
}

.SearchBar:focused {
    -fx-border-color: #4a90e2;
    -fx-border-width: 1.5px;
    -fx-effect: dropshadow(three-pass-box, rgba(74,144,226,0.2), 8, 0, 0, 0);
}